* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $normFont, sans-serif;
}

a {
    text-decoration: none;
    color: $black;
}

.container {
    width: $max-xxl;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media screen and (max-width: $max-xxl) {
    .container {
        width: $max-xl;
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media screen and (max-width: $max-xl) {
    .container {
        width: $max-lg;
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media screen and (max-width: $max-lg) {
    .container {
        width: $max-md;
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media screen and (max-width: $max-md) {
    .container {
        width: $max-sm;
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media screen and (max-width: $max-sm) {
    .container {
        width: 100%;
    }
}