// colors
$main: #000;
$while: #000;
$black: #000;

// font
$normFont: "Arial";

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// max width breakpoints
$max-xs: 0;
$max-sm: 575px;
$max-md: 767px;
$max-lg: 991px;
$max-xl: 1199px;
$max-xxl: 1399px;